@import "fonts"; 
@import "colors"; 
@import "typography"; 
@import "structure";

/* general */ 

h2 {
    margin-top: 2em;
}

p {
    margin: 1em 0; 
}

.form {
    border: 1px solid rgba( 0,0,0,.65 ); 
    padding: 2em 2em 4em;  
    margin-bottom: 2em; 
    width: 60%;
    margin: 0 auto 2em; 
}