@import "reset"; 
@import "fonts"; 
@import "colors"; 
@import "typography"; 
@import "structure"; 

/* general */ 

.container-fluid .row .col-sm-12 {
    padding: 0; 
}

/* nav */ 

.navbar {
    font-family: $font-primary;
    font-size: 0.75rem; 
    text-shadow: 2px 2px 10px $main-lite;
    background: $nav-color;
    padding: 0; 
    
    .nav-tabs {
        margin: 0 auto;
        width: 35em;
        justify-content: space-between;
        border-bottom-color: $nav-color;
    
        .nav-link {
            color: rgb(255,255,255);
            border-bottom-color: $nav-color;
        }
        
        .nav-link.active {
            background: rgb(255,255,255); 
            color: $nav-color;
        }
    }
}

/* logo et al */

.layer {
    padding: 0; 
    
    &:before {
        content: ""; 
        background: $layer-color; 
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
        top: 0;
        clear: both; 
        z-index: 0; 
    }

    .row {
        margin: 0; 

        &.headline {
        padding: 4em 0 2em 0; 

            .col-md-8 {
                padding-right: 1.5em;
                z-index: 1;     

                h1,
                h3 {
                    font-weight: 700; 
                    color: white; 
                }
            } 

            .col-md-3 {
                z-index: 1;                     
            }
        }
    }
}

