<!doctype html>
<html lang="en">
<head>
    <% include partials/template/head.ejs %>  
    <link rel="stylesheet" href="css/headerhome.css">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/content.css">
</head>
<body>
    <% include partials/template/headerhome.ejs %>
    <% include partials/content/homecontent.ejs %>
    <% include partials/template/footer.ejs %>

    <% include partials/template/scripts.ejs %>
    <script src="js/ajax.js"></script>
    <script src="js/scroll.js"></script>
</body>
</html>