    <footer class="footer">
        <div class="container contact">
            <div class="row bottombanner">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4 logobottom">
                            <img src="images/macc_small_logo.png" alt="macc logo">
                        </div>
                        <div class="col-sm-4 bottomline">
                            <p>Muslim American Chamber of Commerce</p>
                        </div>
                        <div class="col-sm-4 scrolltop">
                            <p id="go-to-top">scroll top ^</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="contact">
                <div class="col-md-4 col-sm-6 footer-section">
                    <h6 class="footer-header">The name you can trust MACC</h6>
                    <div class="footer-text">
                        <p><i class="fa fa-map-pin"></i> 412 Lyons AVE. NEWARK, NJ 07112</p>
                        <p><i class="fa fa-phone"></i> Phone : (973) 477 9463</p>
                        <p><i class="fa fa-envelope"></i> E-mail : info@maccomm.org</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 footer-section text-left">
                    <h6 class="footer-header">General Links</h6>
                    <ul class="footer-ul footer-text">
                        <li><a href="#projects"> News</a></li>
                        <li><a href="#about"> Events</a></li>
                        <li><a href="#services"> Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 offset-sm-6 offset-md-0 footer-section">
                    <h6 class="heading7 footer-header">Connect with us on social media</h6>
                </div>
            </div>
        </div>
        <div class="footerspace"></div>
    </footer>

    <div class="border"></div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 copyright">
                    <p>&copy; MACC 2017 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
