<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-toggleable-md navbar-light fixed-top nav-pages">
                <div>
                    <button type="button" class="btn navbar-toggler pull-left" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
                </div>
                <div class="nav-group collapse navbar-collapse" id="navbarToggle">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item mt-auto">
                            <a class="nav-link" data-toggle="tab" href="#home" role="tab">HOME</a></li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link" data-toggle="tab" href="#about" role="tab">EVENTS</a></li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link" data-toggle="tab" href="#membership" role="tab">CONTACT</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid layer">
    <div class="row headline">
        <div class="col-sm-12 col-md-3 text-right">
            <img src="images/macc_logo.png">
        </div>
        <div class="col-sm-12 col-md-8 mt-auto mb-auto text-center">
            <h1>Muslim American Chamber of Commerce</h1>
            <h3>&ldquo;Inspiring people to create Entrepreneurial and Business Success&rdquo;</h3>
        </div>
    </div>
</div>