<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <nav class="navbar navbar-toggleable-md navbar-light fixed-top nav-pages">
                <div>
                    <button type="button" class="btn navbar-toggler pull-left" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
                </div>
                <div class="nav-group collapse navbar-collapse" id="navbarToggle">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item mt-auto">
                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">HOME</a></li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link" data-toggle="tab" href="#about" role="tab">ABOUT</a></li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link" data-toggle="tab" href="#membership" role="tab">MEMBERSHIP</a></li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link" data-toggle="tab" href="#committees" role="tab">COMMITTEES</a></li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link" data-toggle="tab" href="#join" role="tab">JOIN</a></li>
                        <li class="nav-item mt-auto">
                            <a class="nav-link" data-toggle="tab" href="#contact" role="tab">CONTACT</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="container-fluid layer">
                <div class="row headline">
                    <div class="col-sm-12 col-md-3 text-right">
                        <img src="images/macc_logo.png">
                    </div>
                    <div class="col-sm-12 col-md-8 mt-auto mb-auto text-center">
                        <h1>Muslim American Chamber of Commerce</h1>
                        <h3>&ldquo;Inspiring people to create Entrepreneurial and Business Success&rdquo;</h3>
                    </div>
                </div>
                <div class="row panel">
                    <div class="col-sm-12">
                        <div class="tab-content site-image">
                            <div class="tab-pane active show fade" id="home" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-3 leftpanel1">
                                        <h3>Welcome</h3>
                                        <p>You must learn to succeed. At the MACC we provide the tools necessary to foster continuous success and growth in any bussiness environments. Workshops, seminars and one on one counseling are just some of the ways we ensure mission critical success.</p>
                                    </div>
                                    <div class="col-sm-9 rightpanel1">
                                        <p class="caption">Image caption</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="about" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-3 leftpanel2">
                                        <h3>About Us</h3>
                                        <ul>
                                            <li><a class="hover aboutajax" href="about">&gt; About MACC</a></li>
                                            <li><a class="hover presidentajax" href="presidentmessage">&gt; Presidents Message</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-9 rightpanel2">
                                        <p class="caption">Image caption</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="membership" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-3 leftpanel3">
                                        <h3>Membership</h3>
                                        <ul>
                                            <li><a class="hover serviceajax" href="#">&gt; Services</a></li>
                                            <li><a class="hover programajax" href="#">&gt; Programs</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-9 rightpanel3">
                                        <p class="caption">Image caption</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="committees" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-3 leftpanel4">
                                        <h3>Committees</h3>
                                        <ul>
                                            <li><a class="hover committeeajax" href="#">&gt; General</a></li>
                                            <li><a class="hover youthajax" href="#">&gt; Youth Affairs</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-9 rightpanel4">
                                        <p class="caption">Image caption</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="join" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-3 leftpanel5">
                                        <h3>Join Today</h3>
                                        <ul>
                                            <li><a class="hover joinajax" href="#">&gt; Join Today</a></li>
                                            <li><a class="hover valueajax" href="#">&gt; Value of a Membership</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-9 rightpanel5">
                                        <p class="caption">Image caption</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-3 leftpanel6">
                                        <h3>Contact</h3>
                                        <ul>
                                            <li><a class="hover contactus" href="#">Contact Us</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-9 rightpanel6">
                                        <p class="caption">Image caption</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 ajaxcall"></div>
    </div>
</div>