<div class="container-fluid aboutsection">  
    <div class="row"> 
        <div class="col-sm-12">
            <h2>About Us</h2>
            <p>
                The focus of the Muslim American Chamber of Commerce is to unite Muslim business owners and entrepreneurs, for the purpose of engaging in a community that works to improve our economic reality. Through this community, members can make an impact in society through their products, services and charities. We want to help people to live a fuller, richer, happier and a more meaningful life. 
            </p>

            <p>
            MACC has at its core the belief in opening opportunities to all American Muslims to become fully engaged in their own economic independence.
            </p>

            <p>
            Muslim American Chamber of Commerce members are committed to growing their business with Qur’anic principles. Our mission is to inspire, promote and celebrate greatness as we support each other in getting our share of the material world.
            </p>

            <p class="quran">
                The Qur’an states:
            </p>

            <blockquote>
                And seek by the means Allah has availed you the home of the destiny. However, do not forget your share of this world. (28:77)
            </blockquote>

            <p>
            Whether you’re an aspiring entrepreneur, established business owner or corporate professional, becoming a member of MAAC, gives you access to valuable resources that are vital to your growth and expansion.
            </p>
        </div>
    </div>
</div>