<div class="container-fluid aboutsection">  
    <div class="row"> 
        <div class="col-sm-12">
            <h2>Committees</h2>
            <h3>Business Growth & Development Committee</h3>
            <p>
                Identifies economic development issues facing the business community and assists Chamber members in implementing sound business practices via education, networking and advocacy.
            </p>
            <p>
                The chamber's PDI (Professional Development Institute) offers a number of courses, clinics and seminars with the American Muslim businessmen, women and youth in mind.
            </p>

            <h3>Education Committee</h3>
            <p>
                Works to enhance the educational experience of the youth by linking academics, business and community to promote real world learning, support partnerships and reduce the dropout rate.
            </p>

            <h3>Member Services Committee</h3>
            <p>
                Responsible for recruiting, cultivating, expanding and retaining the membership of MACC.  It also serves as a welcoming committee--which helps new members navigate the many programs offered by the Chamber.
            </p>
            <p>
                The chamber's Member Services Committee also works to develop the chamber's member benefits package as well as to facilitate member to member business and networking.
            </p>

            <h3>Program Committee</h3>
            <p>
                Responsible for planning and fund-raising for the all the Chamber's events.
            </p>

            <p>
                 For More information Contact The Muslim American Chamber Of Commerce at hquddus@maccomm.org or or by filling out the Contact Form and submitting it.
            </p>
        </div>
    </div>
</div>