<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Contact Us</h2> 
            <p>
                If you have any questions about MACC Please complete the fields below and we will respond to your inquiry within 48 hours.
            </p>
            <form class="form" action="" method="POST" name="sendmessage">
                <div class="form-group row">
                    <label for="name" class="">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname">
                </div>
                <div class="form-group row">
                    <label for="name" class="">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname">
                </div>
                <div class="form-group row">
                    <label for="email" class="">Address Street</label>
                    <input type="text" class="form-control" id="address" name="address">
                </div>
                <div class="form-group row">
                    <label for="email" class="">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="form-group row">
                    <label for="email" class="">Zip</label>
                    <input type="text" class="form-control" id="zip" name="zip">
                </div>
                <div class="form-group row">
                    <label for="subject" class="">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>
                <div class="form-group row">
                    <label for="subject" class="">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group row">
                    <label for="message" class="">Comments</label>
                    <textarea class="form-control" id="Comments" name="comments"></textarea>
                </div>
                <button type="submit" class="btn btn-default" value="send">Submit</button>
                <div class="clearfloat"></div>
            </form>
        </div>
    </div>
</div>