<div class="container-fluid presidentsection">  
    <div class="row"> 
        <div class="col-sm-12">
            <h2>Join Today</h2>
            <p>
                Investment in the Muslim American Chamber of Commerce is a great decision for any company or entrepreneur doing business in the United States. MACC represents the interests of business professionals doing business in all areas. 
            </p>

            <h3>Active Membership Is For One (1) Year. Members Receive The Following Benefits:</h3>
            <ul>
                <li>Business building and Marketing Strategies</li>
                <li>Member-to-member discounts</li>
                <li>Networking events</li>
                <li>Start-up business counseling</li>
                <li>Powerful and influential business leaders</li>
                <li>Referrals</li>
            </ul> 

            <p>
                To complete a paper copy of the membership application click on the download link below, fill out the application and mail it to the address on the form.
            </p>
            <p class="text-center">
                <a href="#" alt="MACC Membership Form">Download MACC Membership Form</a>
            </p>
            <p>
                To complete the membership application online click the Paypal button below and fill out the payment form. For organizations, put your organization name in the Name section of the form.
            </p>

            <h3>
                Memberhsip Prices
            </h3>
            <p>
                Individual - $150.00
            </p>
            <p>
                Small Business / Non-Profit Organization / Corporation - $300.00
            </p>
            <p>
                United States Major Corporations   - $500.00
            </p>
           
            <p>
                For More information Contact The Muslim American Chamber Of Commerce at hquddus@maccomm.org or or by filling out the Contact Form and submitting it.
            </p>
        </div>
    </div>
</div>