<div class="container-fluid presidentsection">  
    <div class="row"> 
        <div class="col-sm-12">
            <h2>Presidents Message</h2>
            <p>
                The Muslim American Chamber of Commerce is a vibrant organization focused on enhancing business opportunities. We are dedicated to ensuring our members take advantage of business opportunities locally, regionally and internationally. 
            </p>

            <p>
                The Chamber is here to help you prosper! We invite you to explore what the MACC has to offer you and your business. 
            </p>

            <p>
                We work in close partnership with other national chambers of commerce and industry, to promote the mutual business interests of our members. In addition to the Chamber's role as an advocate for business, the Chamber continues to bring Business to Business (B2B) networking opportunities and other benefits to our members.
                Your Chamber exists to promote entrepreneurship and job creation, and ensure that this is a great time to do business. Join our network and discover why the Chamber is a cornerstone of the business community. 
            </p>

            <p>
                Thank you.
            </p>

            <p>
                Halim Quddus
            </p>
            <p>
                PRESIDENT
            </p>

        </div>
    </div>
</div>