<div class="container-fluid aboutsection">  
    <div class="row"> 
        <div class="col-sm-12">
            <h2>Programs</h2>
            <h3>Counseling</h3>
            <p>
                MACC offers members trade, business development, export marketing and Islamic finance counseling through one-on-one sessions as well as through a variety of seminar programs and clinics.
            </p>
            <p>
                The primary object of MACC counseling is to help members and their business partners better navigate business in US markets and the Muslim marketplace.
            </p>

            <h3>Annual Leadership Award Banquet</h3>
            <p>
                Annually MACC recognizes business leaders and organizations that have been particularly successful in helping to develop, promote and grow American Muslim business opportunities. The leadership awards gives the chamber an opportunity to express our gratitude and appreciation for the people and partners that make our misssion a success and lets our members acknowledge leaders.
            </p>
            <p>
                MACC leadership awards cover several categories of companies and organizations, as well as our Man of the Year, Woman of the Year , and youth of the year awards, awarded to the year's most outstanding contributors to the success of American Muslim businesses.
            </p>

            <h3>Scholarships</h3>
            <p>
                A competitive academic scholarship program.
            </p>

            <h3>Workshops</h3>
            <p>
                The Chamber's professional development programs will help members sharpen their skills and give member companies a competitive edge. The MACC Professional development programs bring together some of the top business minds to offer compelling business development programs for a wide variety of business skills.
            </p>

            <p>
                 For More information Contact The Muslim American Chamber Of Commerce at hquddus@maccomm.org or or by filling out the Contact Form and submitting it.
            </p>
        </div>
    </div>
</div>