<div class="container-fluid presidentsection">  
    <div class="row"> 
        <div class="col-sm-12">
            <h2>Services</h2>
            <p>
                Membership in the Muslim American Chamber of Commerce is obtained by completing a MACC Membership Application <a href="application" alt="application form">(download the application)</a> and paying membership dues at the appropriate membership level. Membership Applications are reviewed by the MACC Membership Committee and notification of acceptance is mailed to each new member. 
            </p>

            <p>
                Your membership in MACC has the potential to be one of the most profitable investments you’ll make in your business. Membership in the Muslim American Chamber of Commerce really has its benefits.
            </p>

            <p class="text-center">
                As a member of MACC, you will receive the following Benefits:
            </p>

            <ul>
                <li>A Membership Welcome Package, Membership Plaque and Membership Card</li>
                <li>One business consultation free - by appointment. </li>
                <li>Referral for NJ and/or federal agencies for business licenses and permits</li>
                <li>Invitations  to MACC Business Networking Events</li>
                <li>Invitations/Free admission to selected MACC Business Networking Meetings</li>
                <li>Advertising on Live MACC Blog Talk Radio</li>
                <li>Advertising opportunities on MACC's website</li>
            </ul>

            <p>
                That’s just a small sample of what you’ll have access to…there’s much more. It doesn’t matter how successful you are right now, this community can help you to massively grow your business and broaden your social connections.
            </p>
            <p>
                For More information Contact The Muslim American Chamber Of Commerce at hquddus@maccomm.org or or by filling out the Contact Form and submitting it.
            </p>
        </div>
    </div>
</div>