<div class="container-fluid presidentsection">  
    <div class="row"> 
        <div class="col-sm-12">
            <h2>Value of a Membership</h2>
            <p>
                The Muslim American Chamber of Commerce (MACC) realizes that you have many options when selecting potential resources for your business growth.  We would like to extend an invitation to you for membership with our organization. If you are looking for an organization that is dedicated to your businesses development and growth and success then MACC is for you.
            </p>

            <h3>Top Reasons to Join the Muslim American Chamber of Commerce</h3>
            <ul>
                <li>Networking and new business contacts to help your business grow</li>
                <li>Credibility to make a statement that you are committed to the future of America and American Muslims</li>
                <li>Discounts and benefits to help you save some money</li>
                <li>Learning opportunities / professional development to help you run a smarter, more profitable business</li>
                <li>Promote the Muslim community to help American Muslims enjoy more opportunity</li>
                <li>Referrals and sales opportunities to deliver return on your investment</li>
                <li>Publicity and heightened name recognition so customers know who you are</li>
                <li>Targeted, effective and affordable advertising to help you advertise effectively on a small budget</li>
                <li>Opportunity to list job openings for your business to recruit eligible employees</li>
                <li>Monthly newsletter MACCNews</li>
                <li>Speed dating job sessions</li>
            </ul> 

            <p>
                To complete a paper copy of the membership application click on the download link below, fill out the application and mail it to the address on the form.
            </p>
        </div>
    </div>
</div>