<div class="container-fluid aboutsection">  
    <div class="row"> 
        <div class="col-sm-12">
            <h2>Youth Affairs</h2>
            <p>
                MACC  was founded by a committed group of American Muslim business professionals and individuals in response to the pressing need to create an organization that would respond to the various needs of the growing American Muslim business community.  In this regard it has been decided one of the main focuses at this time of MACC should be on the youth. 
            </p>

            <p>
                The <span>MACC Youth Affairs committee</span> is one of the most exciting parts of the organization.
            </p>

            <p class="text-center">
                The MACC Youth Affairs committee promotes a pro-youth agenda within the chamber and runs several programs including:
            </p>

            <ul>
                <li>Annual Business Plan Competition - Open business plan competition seeking out the best business opportunities to develop the American Muslim Marketplace and/or Muslim Businesses.</li>
                <li>Summer Internship Placement - Databank of internship opportunities from member and partner organizations.</li>
                <li>Scholarship Awards - Annual scholarship competition open to high school seniors, undergraduates and graduate students interested in pursuing a career in business or public affairs.</li>
                <li>Community Workshops- Workshops which will enable the youth to gain business, leadership and entrepreneurial skills among others.</li>
            </ul>

            <p>
                For More information Contact The Muslim American Chamber Of Commerce at hquddus@maccomm.org or or by filling out the Contact Form and submitting it.
            </p>
        </div>
    </div>
</div>